@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.ttf) format(truetype),
    url(../fonts/Vazir.eot) format(embedded-opentype),
    url(../fonts/Vazir.woff) format(woff),
    url(../fonts/Vazir.woff2) format(woff2);
}