@import url(font.css);

body {
  font-family: "vazir" !important;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.header {
  padding: 15px 0;
  transition: all 0.5s ease-in-out;
}

.header-scroll {
  background-color: #fff;
  box-shadow: 0 2 20px rgba(11, 14, 18, 0.1);
}

@media (max-width: 992px) {
  .header {
    background-color: #fff;
  }
}

.intro {
  width: 100%;
  height: 100vh;
  background: url(../images/intro/intro-bg.png) top center no-repeat;
  background-size: cover;
}

.content {
  background-color: #f6f9ff;
  padding: 40px;
  text-align: justify;
}

.counts i {
  font-size: 42px;
}

.counts i.blue {
  color: #4154f1;
}
.counts i.orange {
  color: #ee6c20;
}
.counts i.green {
  color: #15be56;
}
.counts i.blredue {
  color: #bb0852;
}

.features i{
    font-size: 44px;
    color: #4154f1;
}

.services .service-box{
    padding: 60px 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(1, 41, 112, 0.08);
    transition: all .3s ease-in-out;
}

.services .service-box .icon{
    font-size: 36px;
    padding: 20px;
    line-height: 0;
    display: inline-block;
    border-radius: 4px;
}

.services .service-box .read-more{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.services .service-box .read-more i{
    font-size: 18px;
    line-height: 0;
    margin-right: .4rem;
    padding: 0;
}

.services .service-box.blue{
    border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue .icon{
    color: #2db6fa;
    background: #dbf3fe;
}

.services .service-box.blue .read-more{
    color: #2db6fa;
}

.services .service-box.blue:hover{
    background: #2db6fa;
    color: #fff !important;
}

.services .service-box.blue:hover .read-more{
    color: #fff;
}

.services .service-box.orange{
    border-bottom: 3px solid #f68c09;
}

.services .service-box.orange .icon{
    color: #f68c09;
    background: #fde3c4;
}

.services .service-box.orange .read-more{
    color: #f68c09;
}

.services .service-box.orange:hover{
    background: #f68c09;
    color: #fff;
}

.services .service-box.orange:hover .read-more{
    color: #fff;
}

/* ---------- */
.services .service-box.green{
    border-bottom: 3px solid #08da4e;
}

.services .service-box.green .icon{
    color: #08da4e;
    background: #fde3c4;
}

.services .service-box.green .read-more{
    color: #08da4e;
}

.services .service-box.green:hover{
    background: #08da4e;
    color: #fff;
}

.services .service-box.green:hover .read-more{
    color: #fff;
}

.pricing .card{
    transition: all .3s ease-in-out;
}

.pricing .card:hover{
    transform: scale(1.1);
}

.contact .info-box{
    background-color: #fafbff;
    padding: 30px;
}

.contact .info-box i{
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}

.contact .contact-form{
    background-color: #fafbff;
    padding: 30px;
    height: 100%;
} 

.footer .social{
    font-size: 20px;
    color: rgba(1, 41, 112, 0.05);
}

.footer hr{
    width: 70%;
    height: 5px;
}

.footer .footer-links i{
    font-size: 13px;
}

.footer .footer-links a{
    color: #2a2a2a;
}